html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div, textarea {
    box-sizing: border-box;
}

.container-bs {
    height: 100%;
    width: 100%;
}

.chat, .form {
    padding: 0 10px;
}

.chat {
    height: calc(100% - 150px);
}

.form {
    height: 150px;
    border-top: 1px solid #242424;
}

.tile {
    position: absolute;
    background: #3399ff;
    border: 1px solid black;
}

.tile-opponent {
    cursor: pointer;
}

.tile-opponent:hover {
    background: #0059b3;
}

#game_board {
    left: 5em;
    position: absolute;
    top: 5em;
}

#player_board {
    position: absolute;
    left: 5em;
    top: 37em;
}

#opponent_board {
    position: absolute;
    left: 5em;
    top: 7em;
}

.chat-position {
    position: absolute;
    top: 7em;
    height: 111ex;
    left: 38em;
    width: 30em;
}

.tile-label, .tile-label:hover {
    background: white;
    text-align: center;
    font-size: 3ex;
}

.background-image
{
    background: url("ocean.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background
{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.opaque-cover
{
    position: absolute;
    width: 450px;
    height: 620px;
}

.opaque
{
    background-color: rgba(0, 0, 0, 0.7);
}

.game-modal
{
    position: absolute;
    left: 3em;
    top: 5em;
    width: 68em;
    height: 62em;
}

.center
{
    top: 40%;
    margin-top: -20px;
    width: 20em;
    position: absolute;
    left: 35em;
    margin-left: -190px;
}